.login-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.login-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.login-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.register-link {
    margin-top: 15px;
    text-align: center;
}